<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <h1><%= title %></h1>
        <p>Seja bem-vindo ao <%= title %>!</p>  
        <p>Um chatbot desenvolvido para tirar todas<br> as suas dúvidas sobre os cursos<br> oferecidos pela PUC-Campinas.</p>     
        <input type="button" onclick="location.href='https://gateway.watsonplatform.net/assistant/api';" value="Iniciar Chatbot" />
    </div>
  </body>
</html>
